body {
    /* background-color: white; */
    height: 1000px;
    background: repeating-linear-gradient(90deg, #fbffd3, #fbffd3 15px, #fdfe8c 0, #fdfe8c 30px
    );
    color: black;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        background: black;
        color: white;
    }
}